.container {
  width: 800px;
  background-color: rgba(0,0,0,.54);
  color: #fff;
  font-size: 20px;
  height: 200px;
  display: flex;
  margin-top: 40px;
  justify-content: center;
  align-items: center;
}

.container p {
  margin: 0;
}